{% extends 'perfumeshop/main.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}

 <div class="container mt-5">
 <a class="btn btn-outline-dark" id="back-button" href="{% url 'index' %}">&#x2190; Continue Shopping</a>
        <div class="row">
            <div class="col-md-6 img-container">
                <img src="{{ product_object.image }}" class="img-fluid enlarged-image" alt="Product Image">
            </div>

            <div class="col-md-6 position-relative">
                <h1>{{ product_object.brand }} {{ product_object.name }}</h1>
                <span class="perfume_type"> {{ product_object.type }}</span><br>
                <span class="current-price h4">{{ product_object.price|floatformat:2 }}</span>


            </div>
        </div>
 </div>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Top notes</td>
            <td>{{ details.top_notes }}</td>
        </tr>
        <tr>
            <td>Middle notes</td>
            <td>{{ details.middle_notes }}</td>
        </tr>
        <tr>
            <td>Base notes</td>
            <td>{{ details.base_notes }}</td>
        </tr>
        <tr>
            <td>Fragrance category</td>
            <td>{{ details.fragrance_category }}</td>
        </tr>

    </tbody>
</table>

{%  endblock content %}
