.navbar {
    background-color: black;
    color: black;
    margin-bottom: 15px;
}

.search-form {
    background-color: #f8f9fa;
    border: none;
}

.search-form .form-control {
    border: none;
    box-shadow: none;
}

.search-form .form-control:focus {
    border: none;
    box-shadow: none;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-right: 1rem;

}

.input-group .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-link{
    color: black;

}

.btn{
	border-radius: 0;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
    margin-left: -21px;
}

#cart-icon{
	width:25px;
	display: inline-block;
    margin-left: 10px;
}

.links {
    display: flex;
}

